.input-group-prepend-custom-bottom {
  bottom: initial !important;
}
.link-default {
  color: initial;
  text-decoration: "none";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.text-button {
  cursor: pointer !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.text-button:hover {
  cursor: pointer !important;
  filter: brightness(0.8);
}

.remove-button {
  all: unset;
}

.remove-button:focus {
  outline: none;
}

.remove-button[disabled] {
  cursor: not-allowed;
  filter: brightness(0);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
